<section class="au-breadcrumb m-t-75">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="/admin/dash-board">Dashboard</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Projects</li>
                            </ul>
                        </div>
                        <button class="au-btn au-btn-icon au-btn--green" data-target="#AddProject" data-toggle="modal">
                            <i class="zmdi zmdi-plus"></i>add project
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- END BREADCRUMB-->
<div class="main-content" style="padding-top:30px">
    <div class="section__content section__content--p30">
        <div class="col-lg-12">
            <div class="car-list-top-form-inner" style="margin-top:0px;border-radius:10px">
                <form action="/admin/project/search" method="post">
                  <%= token_tag %>
                  <div class="car-list-find" style="width:78%">
                    <h6>Find the User</h6>
                    <input type="text" name="key" placeholder="Type project info">
                  </div>
                  <div class="car-list-submit">
                    <button type="submit" class="pink-btn" style="background-color:#333;width:100%">Find Projects</button>
                  </div>
                </form>
            </div>
            <div style="height:30px"></div>
            <div class="table-responsive table--no-card m-b-30">
                <table style="width:100%; table-layout: fixed; overflow: hidden" class="table table-borderless table-striped table-earning">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:10%">Project ID</th>
                            <th class="text-center" style="width:20%">Project image</th>
                            <th class="text-center" style="width:15%">Name</th>
                            <th class="text-center">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% @project.each do |p| %>
                        <tr>
                          <td class="text-center" style="width:10%">
                            <button data-toggle="modal" data-target="#EditProject<%= p.id %>" type="button" style="color:#555">
                              <i class="fa fa-edit"></i>&nbsp;<%= p.id %>
                            </button>
                          </td>
                          <td class="text-center" style="width:20%"><img src="/assets/p<%= p.id %>.png" style="height:100px"></td>
                          <td class="text-center" style="width:15%"><%= p.name %></td>
                          <td class="text-left" style="width:30%"><%= p.link %></img></td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<% @project.each do |p| %>
  <div class="modal fade" id="EditProject<%= p.id %>" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="scrollmodalLabel">Edit Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/admin/project/<%= p.id %>/edit" method="post" enctype="multipart/form-data" class="form-horizontal">
          <%= token_tag %>
          <div class="modal-body">
            <!--Content-->
            <div class="card-body card-block">
              <div class="row form-group">
                <div class="col col-md-3">
                  <label class=" form-control-label">Project ID</label>
                </div>
                <div class="col-12 col-md-9">
                  <p class="form-control-static"><%= p.id %></p>
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="text-input" class=" form-control-label">Project name</label>
                </div>
                <div class="col-12 col-md-9">
                  <input type="text" required="" id="name" name="name" placeholder="Type name" class="form-control" value="<%= p.name %>">
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="text-input" class=" form-control-label">Project image</label>
                </div>
                <div class="col-12 col-md-9">
                  <input type="file" accept="image/png | image/jpeg" id="image" name="image" placeholder="Choose image" class="form-control" style="border: none" value="">
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="text-input" class=" form-control-label">Link</label>
                </div>
                <div class="col-12 col-md-9">
                  <input type="text" required="" id="link" name="link" placeholder="Type link" class="form-control" value="<%= p.link %>">
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="description" class=" form-control-label">Description</label>
                </div>
                <div class="col-12 col-md-9">
                  <textarea type="text-input" required="" id="description" name="description" placeholder="Content..." class="form-control" style="height: 200px;border: none"><%= p.description %></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Confirm</button>
            <button type="button" class="btn btn-secondary" style="background-color:red;border-color:red" onclick="location.href='/admin/project/<%= p.id =%>/delete'">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>
<div class="modal fade" id="AddProject" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scrollmodalLabel">Add Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/project/create" method="post" enctype="multipart/form-data" class="form-horizontal">
        <div class="modal-body">
          <!--Content-->
          <div class="modal-body">
            <!--Content-->
            <div class="card-body card-block">
              <%= token_tag %>
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="text-input" class=" form-control-label">Project name</label>
                </div>
                <div class="col-12 col-md-9">
                  <input type="text" required="" id="name" name="name" placeholder="Type name" class="form-control" value="">
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="text-input" class=" form-control-label">Project image</label>
                </div>
                <div class="col-12 col-md-9">
                  <input type="file" accept="image/png | image/jpeg" required="" id="image" name="image" placeholder="Choose image" class="form-control" style="border: none" value="">
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="text-input" class=" form-control-label">Link</label>
                </div>
                <div class="col-12 col-md-9">
                  <input type="text" required="" id="link" name="link" placeholder="Type link" class="form-control" value="">
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="description" class=" form-control-label">Description</label>
                </div>
                <div class="col-12 col-md-9">
                  <textarea type="text-input" required="" id="description" name="description" placeholder="Content..." class="form-control" style="height: 200px;border: none"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" style="">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>
