<!-- Start about Area -->
<section class="about-area section-gap" id="about">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">About Myself</h1>
          <p><%= intro %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 about-left">
        <p>
          <%= about %>
        </p>
        <h4 class="pb-40">Skills Status</h4>
        <% skill.each do |i| %>
        <div class="skillbar" data-percent="75%">
            <div class="skill-bar-percent"><%= i.name %> <%= i.level %>%</div>
            <div class="skillwrap">
              <div class="skillbar-bar" style="width: <%= i.level %>%;"></div>
            </div>
        </div>
        <% end %>
      </div>
      <div class="col-lg-6 about-right justify-content-end d-flex">
        <div class="myself-wrap">
          <img class="img-fluid" src="/assets/about-img.jpg" alt="">
          <div class="desc">
            <h4><%= name %></h4>
            <p class="pb-10"><%= specialist %></p>
            <p><span class="lnr lnr-phone"></span> <%= phone %></p>
            <p><span class="lnr lnr-envelope"></span> <%= email %></p>
            <a class="mt-30 text-uppercase talk-btn" href="#">Hire Me</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End about Area -->
