<!-- Start project Area -->
<section class="project-area section-gap" id="project">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Some of my Projects</h1>
          <p><%= intro %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 project-left">
        <% project.each do |i| %>
          <% if i.id % 2 != 0 then %>
            <div class="single-project pb-100">
              <a href="<%= i.link %>">
                <img class="img-fluid" style="max-height:600px" src="https://res.cloudinary.com/chota5511/MyCV/images/p<%=i.id%>.png" onerror="this.src='https://res.cloudinary.com/chota5511/MyCV/images/pdefault.jpg'" alt="<%= i.name %>">
              </a>
              <h4 class="pt-100 pb-30"><a href="<%= i.link %>"><%= i.name %></a></h4>
              <p>
                <%= i.description %>
              </p>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-lg-6 project-right">
        <% project.each do |i| %>
          <% if i.id % 2 == 0 then %>
            <div class="single-project">
              <h4 class="pt-30 pb-30"><a href="<%= i.link %>"><%= i.name %></a></h4>
              <p class=" pb-100">
                <%= i.description %>
              </p>
              <a href="<%= i.link %>">
                <img class="img-fluid" style="max-height:600px" src="https://res.cloudinary.com/chota5511/MyCV/images/p<%=i.id%>.png" onerror="this.src='https://res.cloudinary.com/chota5511/MyCV/images/pdefault.jpg'" alt="<%= i.name %>">
              </a>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- End project Area -->
