<!-- Start service Area -->
<section class="service-area section-gap" id="service">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Have a Look at my Services</h1>
          <p><%= intro %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <% @devlanguage.each do |i| %>
        <% if i.id % 2 != 0 then %>
          <div class="single-service col-lg-6 col-md-6 mb-30">
            <div class="icon">
              <img src="/assets/s<%= i.id %>.png" style="height:60px" alt="">
            </div>
            <div class="dec">
              <h4 class="mt-30"><a href="#"><%= i.name %></a></h4>
              <p class="mt-20">
                <%= i.description %>
              </p>
            </div>
          </div>
        <% else %>
          <div class="single-service col-lg-6 col-md-6">
            <div class="icon">
              <img src="/assets/s<%= i.id %>.png" style="height:60px" alt="">
            </div>
            <div class="dec">
              <h4 class="mt-30"><a href="#"><%= i.name %></a></h4>
              <p class="mt-20">
                <%= i.description %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
<!-- End service Area -->
