<section class="au-breadcrumb m-t-75">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="/admin/dash-board">Dashboard</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Contact</li>
                            </ul>
                        </div>
                        <button class="au-btn au-btn-icon au-btn--green" onclick="location.href='/admin/contact-all'">
                            <i class="zmdi"></i>Show all contact
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- END BREADCRUMB-->
<div class="main-content" style="padding-top:30px">
    <div class="section__content section__content--p30">
        <div class="col-lg-12">
            <div class="car-list-top-form-inner" style="margin-top:0px;border-radius:10px">
                <form action="/admin/contact/search" method="post">
                  <%= token_tag %>
                  <div class="car-list-find" style="width:78%">
                    <h6>Find contacts</h6>
                    <input type="text" name="key" placeholder="Type contact info">
                  </div>
                  <div class="car-list-submit">
                    <button type="submit" class="pink-btn" style="background-color:#333;width:100%">Find Contacts</button>
                  </div>
                </form>
            </div>
            <div style="height:30px"></div>
            <div class="table-responsive table--no-card m-b-30">
                <table style="width:100%; table-layout: fixed; overflow: hidden" class="table table-borderless table-striped table-earning">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:10%">ID</th>
                            <th class="text-center" style="width:15%">Subject</th>
                            <th class="text-center" style="width:15%">Name</th>
                            <th class="text-center">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% @contact.each do |c| %>
                        <tr>
                          <td class="text-center" style="width:10%">
                            <button data-toggle="modal" data-target="#ShowContact<%= c.id %>" type="button" style="color:#555">
                              <i class="fa fa-edit"></i>&nbsp;<%= c.id %>
                            </button>
                          </td>
                          <td class="text-center" style="width:15%"><%= c.subject %></td>
                          <td class="text-center" style="width:15%"><%= c.name %></td>
                          <td class="text-left"><%= c.email %></img></td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<% @contact.each do |c| %>
  <div class="modal fade" id="ShowContact<%= c.id %>" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="scrollmodalLabel">Contact Detail</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/admin/project/<%= c.id %>/edit" method="" enctype="multipart/form-data" class="form-horizontal">
          <%= token_tag %>
          <div class="modal-body">
            <!--Content-->
            <div class="card-body card-block">
              <div class="row form-group">
                <div class="col col-md-3">
                  <label class=" form-control-label">ID</label>
                </div>
                <div class="col-12 col-md-9">
                  <p class="form-control-static"><%= c.id %></p>
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="text-input" class=" form-control-label">Name</label>
                </div>
                <div class="col-12 col-md-9">
                  <input type="text" id="name" name="name" disabled class="form-control" value="<%= c.name %>">
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="text-input" class=" form-control-label">Subject</label>
                </div>
                <div class="col-12 col-md-9">
                  <input type="text" id="subject" name="subject" disabled class="form-control" style="border: none" value="c.subject">
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="text-input" class=" form-control-label">Email</label>
                </div>
                <div class="col-12 col-md-9">
                  <input type="email" id="email" name="email" disabled class="form-control" value="<%= c.email %>">
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="message" class=" form-control-label">Message</label>
                </div>
                <div class="col-12 col-md-9">
                  <textarea type="text-input" id="message" name="message" disabled class="form-control" style="border: none"><%= c.message %></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-secondary" style="background-color:red;border-color:red" onclick="location.href='/admin/contact/<%= c.id =%>/delete'">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>
